@tailwind base;
.round-style {
    @apply px-6 py-2 rounded-full tracking-widest uppercase;
    font-size: 10px;
}

.epic-badge {
    @apply flex items-center justify-center mr-4 w-8 h-8 rounded-full font-bold ;
}

@tailwind components;
@tailwind utilities;

@variants focus, hover {
    .bg-gradient-amethyst {
        background: #9D50BB; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .bg-teal-love {
        background: #11FFBD;
    }

    .bg-gradient-teal-love {
        background: #AAFFA9; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .bg-gradient-nelson {
        background: #f2709c; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff9472, #f2709c); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .bg-gradient-citrus-peel {
        background: #FDC830; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F37335, #FDC830); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .shadow-citrus-peel {
        box-shadow: 0 5px 15px -3px rgba(253, 200, 48, 0.71);
    }

    .shadow-teal-love {
        box-shadow: 0 5px 15px -3px rgba(170, 255, 169, 0.71);
    }
}
.rounded-xl {
    border-radius: 1rem;
}

.rounded-xl-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.active-profile span {
    height: 0.6rem;
    width: 0.6rem;
}
